body{
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
.background {
    width: 100%;
    height: 1000px;
    opacity: 100%;
    position: relative;
    background-size: 107%;
    background-image: url("../img/jerusalem.jpg");
}
h2{
    margin-bottom: -3%;
}
.line {
    margin-top: 15px;
    color: rgb(77, 63, 32);
 }
 .learn {
    position: absolute;
    top: 30%;
    left: 49%;
    height: 100px;
}
.learn ul li a{
    color: #fff9e1;
    font-weight: lighter;
    font-size: 17px;
    padding: 19px;
    border: 2px solid rgb(77, 63, 32);
    background-color: rgb(150, 125, 76);
    opacity: 80%;
    cursor: pointer;
    
}
.header .learn ul li a:hover{
    background-color: rgb(77, 63, 32);
    color: white;
    animation-name: learn;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes learn {
    from {font-size: 17px; opacity: 80%;}
    to {font-size: 15px; opacity: 95%;}
  }
  /* .map{
      margin:50px auto;

  } */
